/* Estilização texto CSS*/
.Wrapper{
   display: flex;
   flex-flow: row;
   justify-content: center;
   align-items: center;
}

.list li{
    display: inline;
}

.Imgs > img{
    border-radius: 5%;
}
.Text {
    font-size: 100;
}

/*Estilização components */


